[tool.poetry]
name = "rivian-python-client"
version = "0.0.0"
description = "Rivian API Client (Unofficial)"
readme = "README.md"
authors = ["Brian Retterer <bretterer@gmail.com>"]
license = "MIT"
packages = [
    { include = "rivian", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
aiohttp = ">=3.0.0"
cryptography = "^41.0.1"
backports-strenum = { version = "^1.2.4", python = "<3.11" } 

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
python-dotenv = "^0.20.0"
aresponses = "^2.1.5"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"
pattern = "default-unprefixed"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
