[tool.poetry]
name = "rivian-python-client"
version = "0.0.1-alpha.5"
description = "Rivian API Client (Unofficial)"
authors = ["Brian Retterer <bretterer@gmail.com>"]
license = "MIT"
packages = [
    { include = "rivian", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
aiohttp = ">=3.0.0"
yarl = ">=1.6.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
python-dotenv = "^0.20.0"
aresponses = "^2.1.5"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


